@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: black;
    background-color: rgb(236, 38, 38);
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.copyright {
    text-align: center;
}

#contact {
    background: #f9f9f9;
    padding: 25px;
    margin: 200px 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}


.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border: 1px solid #aaa;
}